* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.page {
  width: 100vw;
  height: 100vh;

  background-color: black;
}

.header {
  width: calc(100%-48px);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_left {
  display: flex;
  align-items: center;

  gap: 46px;

  .header_left_menu-box {
    display: flex;
    align-items: center;

    gap: 32px;

    :hover {
    }
  }
}

.header_right {
  display: flex;
  align-items: center;

  gap: 24px;

  .header_right_search-box {
    width: 200px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 6px 16px;

    border: 1px solid #whit;
  }
}

.menu {
  font-weight: 600;
}

:hover {
  color: orange;
}

.header_left_menu-box {
  color: blue;
}

.header_left_logo {
  font-size: 20px;
}

.menu:hover {
  color: orange;
  border-bottom: 1px solid orange;

  padding-bottom: 2px;
}
.header_right {
  display: flex;
  align-items: center;

  .header_right_btn_box {
    display: flex;
    align-items: center;

    gap: 16px;
    .button {
      border: none;
      background: transparent;
      width: 24px;
      height: 24px;

      border: none;
    }

    .input {
      border: none;
    }
    .input:focus {
      outline: none;
    }

    .nav_button{
        padding : 6px 12px
    }

    .header{
        width:100%;
    }
    
    .banner{
        width:100%

        disp
    }

  }
}
